.navbar a i{
    font-size: 10px;font-weight:bold; color: black; font-family: var(--h1-font);font-style: normal;
}
.main{
    background-image: url(images/bg-7.jpg);
    background-size: cover;
    width: 100%;
    height: 35em;
     
}
.main h1{
    font-size: 6em;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    padding-top: 1.5em;
    
}
.main p{
    font-size: 1.8em;
    color: grey;
    padding: 0em 6em;
}
.navbar-brand{
    font-size: 1.5rem;
    font-weight: 600;
}
.col-lg-8 h2{
    font-size: 40px;
    font-weight: bold;
    padding: 20px 0px;
}
.col-lg-8 p{
    font-size: 18px;
    color: gray;
}
.col-lg-8{
    padding-right: 30px;
}
.col-lg-8 h5{
    padding: 15px 0;
}

.col-lg-4{
    padding-left: 30px;
}
.content{
    padding: 100px 0px;
    
    
}
.italic{
    padding: 30px 30px;
}
.list-group li{
    border-right: hidden;
    border-left: hidden;
    padding: 25px 0;
}
.list-group-item h5{
padding-left: 15px;
}
.list-group{
    padding-top: 40px;
}
.list-group-item a{
    text-decoration: none;
    color: black;
}


